<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>BTCurrency</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/iview/dist/styles/iview.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://vuejs.org/js/vue.min.js"></script>
    <script src="https://unpkg.com/vuex@2.0.0/dist/vuex.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/iview@2.9.1/dist/iview.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify.js/3.0.0/notify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs@3.0.1-rc2/dist/vue-chartjs.js"></script>
</head>

<body>
    <div id="app"></div>
    <script>
        // Debug
        Vue.config.devtools = true
        Vue.config.performance = true

        const store = new Vuex.Store({
            state: {
                price: 0,
                currencies: {}
            },
            mutations: {
                updatePrice(state, payload) {
                    state.price = payload;
                }
            },
            getters: {
                currentPrice(state) {
                    return state.price
                }
            },
            actions: {
                setPrice({ commit }, payload) {
                    commit('updatePrice', payload)
                },
                async getAsyncPrice({ dispatch, commit }) {
                    while (true) {
                        try {
                            let promise = new Promise((resolve, reject) => {
                                setTimeout(
                                    () => {
                                        axios.get(
                                                'https://api.coinbase.com/v2/prices/BTC-USD/spot'
                                            ).then(function (response) {
                                                resolve(response)
                                            })
                                            .catch(function (error) {
                                                reject(error);
                                            })
                                    },
                                    5000
                                )
                            });
                            let response = await promise;
                            dispatch('setPrice', response.data.data.amount);
                        }
                        catch (e) {
                            // console.log(`Exception caught: ${JSON.stringify(e)}`);
                            errorHandler(e);
                        }
                    }
                },
                getPrice({ dispatch, commit }) {
                    return new Promise((resolve, reject) => {
                        axios.get(
                                'https://api.coinbase.com/v2/prices/BTC-USD/spot'
                            ).then(function (response) {
                                dispatch('setPrice', response.data.data.amount);
                                resolve()
                            })
                            .catch(function (error) {
                                // console.log(error);
                                errorHandler(error);
                            })
                    })
                }
            }
        })

        const Counter = {
            template: `<div class="overview-num">{{ price }}</div>`,
            computed: {
                price() {
                    store.dispatch('getPrice').then(store.dispatch('getAsyncPrice'))

                    return store.getters.currentPrice
                }
            }
        }

        Vue.component('line-chart', {
            extends: VueChartJs.Line,
            props: ['data', 'options', 'chartData'],
            mounted() {
                let postData = this.getPosts()
                    .then((response) => {
                        let prices = response.data.data.prices
                        let dataset = {
                            labels: this.times(prices).reverse(),
                            datasets: [{
                                label: 'USD',
                                backgroundColor: '#5cadff',
                                data: this.monthPrice(prices).reverse()
                            }]
                        };

                        return new Promise((resolve, reject) => { resolve(dataset); })

                    })

                postData
                    .then((result) => {
                        this.renderChart(
                            result, this.options
                        )
                        this.$Loading.finish();
                    })
            },
            methods: {
                getPosts() {
                    this.$Loading.start();
                    return axios.get(
                        'https://www.coinbase.com/api/v2/prices/BTC-USD/historic?period=month', { headers: { 'CB-VERSION': '2018-01-22' } }
                    )
                },
                times(prices) {
                    return prices.map(function (x) {
                        // return x.time;
                        let d = new Date(x.time),
                            month = '' + (d.getMonth() + 1),
                            day = '' + d.getDate(),
                            year = d.getFullYear();

                        if (month.length < 2) month = '0' + month;
                        if (day.length < 2) day = '0' + day;

                        return [year, month, day].join('-');
                    });
                },
                monthPrice(prices) {
                    return prices.map(function (x) {
                        return x.price;
                    });
                },
            }
        })

        const app = new Vue({
            el: '#app',
            store,
            data: {
                price: 0,
                show: false,
                isCollapsed: true,
                spinShow: false,
                ntfBtnClr: 'success',
                determinant: 'higher',
                determinantBtn: 'less',
                showButtonText: 'checkmark-round',
                message: 'Notify when the price is higher',
                options: {
                    responsive: true,
                    maintainAspectRatio: false
                }
            },
            components: { Counter },
            computed: {
                count() {
                    return store.getters.currentPrice;
                },
                rotateIcon() {
                    return [
                        'menu-icon',
                        this.isCollapsed ? 'rotate-icon' : ''
                    ];
                },
                menuitemClasses() {
                    return [
                        'menu-item',
                        this.isCollapsed ? 'collapsed-menu' : ''
                    ]
                }
            },
            watch: {
                dataset(newData, oldData) {
                    this.spinShow = !this.spinShow
                },
                count(newCount, oldCount) {
                    document.querySelector('title').innerHTML = `$${newCount} - BTCurrency`;

                    // use priceNotification.show();
                    var priceNotification = new Notify('BTC', {
                        body: newCount,
                        icon: 'bcoin.jpg',
                        sound: "coin.mp3"
                    });

                    if (makeNotification() && this.show && this.needToDisplay(newCount)) {
                        priceNotification.show();
                    }
                },
                price(newPrice, oldPrice) {
                    if (!this.validatePrice(newPrice)) {
                        this.message = "plz only numbers"
                    }
                    else {
                        this.message = `Notify when the price is ${this.determinant}`
                    }
                },
                show(newShow, oldShow) {
                    var testNotification = new Notify('BTC', {
                        body: "Thank you for using our Price Notice.",
                        icon: 'alarm.jpg'
                    });

                    if (makeNotification() && newShow) {
                        testNotification.show();
                        this.showButtonText = 'close-round'
                        this.ntfBtnClr = 'error'
                    }
                    else {
                        this.showButtonText = 'checkmark-round'
                        this.ntfBtnClr = 'success'
                    }
                }
            },
            methods: {
                getPrice() {
                    return store.getters.currentPrice;
                },
                validatePrice(price) {
                    return !isNaN(parseFloat(price)) && isFinite(price);
                },
                changePriceDeterminant() {
                    if (this.show) {
                        this.show = !this.show;
                    }

                    if (this.determinant == 'higher') {
                        this.determinantBtn = this.determinant
                        this.determinant = 'less'
                    }
                    else if (this.determinant == 'less') {
                        this.determinantBtn = this.determinant
                        this.determinant = 'higher'
                    }

                    this.message = `Notify when the price is ${this.determinant}`
                },
                needToDisplay(newPrice) {
                    if (this.determinant == 'higher') {
                        if (newPrice > this.price) {
                            return true;
                        }
                    }
                    else if (this.determinant == 'less') {
                        if (newPrice < this.price) {
                            return true
                        }
                    }

                    return false;
                },
                collapsedSider() {
                    this.$refs.side1.toggleCollapse();
                }
            },
            template: `
            <div class="app">
                <template>
                    <div class="layout">
                        <Layout>
                            <Sider breakpoint="md" ref="side1" hide-trigger collapsible :collapsed-width="78" v-model="isCollapsed">
                                <Menu active-name="1-1" theme="dark" width="auto" :class="menuitemClasses">
                                    <MenuItem name="1-1">
                                        <Icon type="social-bitcoin-outline"></Icon>
                                        <span>BTC</span>
                                    </MenuItem>
                                </Menu>
                                <div slot="trigger"></div>
                            </Sider>
                            <Layout>
                                <Header :style="{padding: 0}" class="layout-header-bar">
                                    <Icon @click.native="collapsedSider" :class="rotateIcon" :style="{margin: '20px 20px 0'}" type="card" size="24"></Icon>
                                </Header>
                                <Content :style="{margin: '20px', minHeight: '220px'}">
                                    <Row :gutter="16">
                                        <Col span="20">
                                            <Card>
                                                <p slot="title">
                                                    Month BTC Chart
                                                </p>
                                                <!-- <Button
                                                    size="small"
                                                    slot="extra"
                                                    type="ghost"
                                                    shape="circle"
                                                    icon="arrow-expand"
                                                >
                                                </Button> -->
                                                <line-chart :options="options"></line-chart>
                                                <Spin size="large" fix v-if="spinShow"></Spin>
                                            </Card>
                                        </Col>
                                        <Col span="4">
                                            <Card style="color: #000;" span="6">
                                                <div style="text-align:center;">
                                                    <counter></counter>
                                                    <div class="overview-name">BTC</div>
                                                </div>
                                            </Card>
                                            <br>
                                            <Card style="color: #000;">
                                                <div style="text-align:center;">
                                                    <Form label-position="top">
                                                        <FormItem
                                                            style="font-weight: bold;"
                                                            :label="message"
                                                            v-if="!show"
                                                        >
                                                        <Input size="large" v-model="price"></Input>
                                                        <!-- <Spin size="small" fix v-if="show"></Spin> -->
                                                        </FormItem>
                                                    </Form>
                                                    <Button
                                                        type="ghost"
                                                        shape="circle"
                                                        @click="changePriceDeterminant()"
                                                    >
                                                        {{determinantBtn}}
                                                    </Button>
                                                    <Button
                                                        type="ghost"
                                                        shape="circle"
                                                        @click="show = !show"
                                                        :icon="showButtonText"
                                                        :type="ntfBtnClr"
                                                    >
                                                    </Button>
                                                </div>
                                            </Card>
                                        </Col>
                                    </Row>
                                </Content>
                            </Layout>
                        </Layout>
                    </div>
                </template>
            </div>
        `
        });

        var makeNotification = () => {
            if (!Notify.needsPermission) {
                return true;
            }
            else if (Notify.isSupported()) {
                Notify.requestPermission(onPermissionGranted, onPermissionDenied);
            }
        };

        function onPermissionGranted() {
            console.log('Permission has been granted by the user');
            return true;
        }

        function onPermissionDenied() {
            console.warn('Permission has been denied by the user');
            return false;
        }

        function errorHandler(error) {
            window.location.href =
                "htttp://stackoverflow.com/search?q=[js]+" + error.message;
        }
    </script>
</body>

</html>

<style scoped>
    .bitcoin-block {
        display: inline-block;
        margin-left: 3px;
        font-size: 45px;
        font-weight: 400;
    }

    body {
        background: #f5f7f9;
    }

    .layout-header-bar {
        background: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    }

    .menu-item span,
    .page-text {
        display: inline-block;
        overflow: hidden;
        width: 69px;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: bottom;
        transition: width .2s ease .2s;
    }

    .menu-item i {
        transform: translateX(0px);
        transition: font-size .2s ease, transform .2s ease;
        vertical-align: middle;
        font-size: 16px;
    }

    .collapsed-menu span {
        width: 0px;
        transition: width .2s ease;
    }

    .collapsed-menu i {
        transform: translateX(5px);
        transition: font-size .2s ease .2s, transform .2s ease .2s;
        vertical-align: middle;
        font-size: 22px;
    }

    img {
        width: 60%;
        height: auto;
    }

    .overview-num {
        font-size: 32px;
        color: #464c5b;
        line-height: 48px;
        padding-right: 12px;
    }

    .overview-name {
        color: #657180;
        line-height: 16px;
        min-width: 48px;
    }

    .layout-logo-left {
        width: 90%;
        height: 30px;
        background: #5b6270;
        border-radius: 3px;
        margin: 15px auto;
    }

    .menu-icon {
        transition: all .3s;
    }

    .rotate-icon {
        transform: rotate(-90deg);
    }
</style>
